@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: "Montserrat";
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
img{
    width: 100%;
}
/* Nav Bar */
.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;

}

.navbar .nav-link.active{
    color:grey;
}
.full-height{
    min-height: 100vh;
    height:100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top:5rem;
}

/* Picture About */
#pic{
    width:100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.pic{
    width:200px;
    margin:auto;
}
.about{
    margin-top:-3rem;
}

/* Logo */
.logo{
    width: 3rem;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    text-align: center;
}
/*container*/
#form-container{
    width:100%;
    height:22rem;
    padding:1rem;
    border-radius: 1rem;
    color:#212529;
}

#message{
    width:100%;
    height: 100px;
    margin-top:1rem;
}
#send_mail{
    width:100%;
    margin:none;
}

.cons{
    width:150px;
    margin: 1rem auto;
}

/*footer*/
footer{
    background-color: #212529;
    color: #fff;
    right:0;
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#row{
    margin-left:0.1rem;
}
#row a{
    text-decoration: none;
    color: #fff;
}
.text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ICONS */
.fa{
    color:white;
    font-size: 30px;
    margin: 0.5rem;
}
.icons{
    color: #212529;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.icons span{
    font-size:1rem;
    margin: auto 0.5rem;
    align-items: center;
    vertical-align: center;
    padding-bottom: 1rem;
    
}
.fa:hover{
    opacity: 0.25;
}

/* Card img*/
.card-img-top{
    height: 10rem;
    width:100%;
    object-position: center;
    object-fit:cover;

}
.react{
    margin:auto;
}
.project-body{
    height:13.6rem;
}
/*Modal Content*/
.modal-content{
    background-color: #212529;
    color: #fff;
}
@media(min-width:992px){
    .navbar{
        min-height: 100vh;
        width: 240px;
        background-color:grey;
        background-position: center;
    }
    .navbar-brand img{
        border: 8px solid grey;
    }
    #content-wrapper{
        padding-left: 240px;
    }
    .full-height{
        padding-top:0;
        margin-top: -1rem;
        margin-bottom: 1.5rem;
    }
    .pic{
        display: none;
    }
}

