body{
    background-color: #23252C;
    font-family: "Inter";
}
img{
    width:100%;
    max-width: 25rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.website{
    font-size:0.8rem;
    color: #fff;
    letter-spacing: 0;
    margin: 1rem auto;
}
.website > a{
    text-decoration: none;
    color:  #5093E2;
}
.name{
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    margin: 1rem auto;
}
.career{
    color:#F3BF99;
    line-height: 0;
    margin:0.1rem;
    font-size:0.8rem;
}

.wrapper{
    margin:auto;
    text-align: center;
    
}


.linkedIn,.email{
    border-radius: 0.5rem;
    padding:0.4rem 0.1rem;
    width:7rem;
    background-color: #5093E2;
    border:none;
    font-size:0.8rem;
    margin: auto 0.18rem;
    align-items: center;
    align-content: center;
    color:#fff;
    transition: 0.125s;
}
.email{
    background-color: #fff;
    color:#23252C;
}
.linkedIn:hover{
    opacity: 0.7;
}
.email:hover{
    opacity: 0.7;
}
.about, .infos{
    color:#fff;
    text-align: left;
}
.aboutContainer, .interestContainer{
    padding: 1rem;
}
i{
    padding-right:10px;
}
.footerContainer{
    color:#918E9B;
    background-color: #161619;
}
.footerIcons{
    font-size: 2rem;
    margin:1rem;
}
.footerContainer > a{
    color: #918E9B;
}
@media (min-width:990px) {
    img{
        max-width: 25rem;
    }
    header{
        margin-top:1rem;
    }
    .fonts{
        font-size: 0.8rem;
    }
    .about{
        font-size: 1.1rem;
        font-weight: 700;
    }
}